.booking-aside{
  background-image:linear-gradient(rgba(15,15,15,.38),rgba(15,15,15,.38)),url('assets/Split.png')!important;
  background-position:center!important;
  background-size:cover!important;
  background-repeat:no-repeat!important;
}
